Source: ros-turbulent-launch-testing
Section: misc
Priority: extra
Maintainer: Pete Baughman <pete.baughman@apex.ai>
Build-Depends: debhelper (>= 9.0.0), python3-mock, python3-pytest, ros-turbulent-ament-copyright, ros-turbulent-ament-flake8, ros-turbulent-ament-pep257, ros-turbulent-launch, ros-turbulent-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-turbulent-launch-testing
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-turbulent-ament-index-python, ros-turbulent-launch, ros-turbulent-osrf-pycommon, ros-turbulent-ros-workspace
Description: A package to create tests which involve launch files and multiple processes.
